{erl_opts, [
    debug_info,
    {parse_transform, db_ets_transform},
    {db_ets_callback, db_ets_reg_list},
    db_ets_verbose
]}.

{deps, [
    {db, {git, "https://github.com/dong50252409/db", {branch, "master"}}},
    jsx
]}.

{erl_first_files, ["apps/src/db_ets_reg_list.erl"]}.

{relx, [{release, {db_tools_test, "0.1.0"},
    [db_tools_test, sasl, db, jsx, wx, observer, debugger, runtime_tools, tools, compiler, syntax_tools]},
    {include_erts, true},
    {include_src, false},
    {extended_start_script, true},
    {dev_mode, false},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.
