{erl_opts, [debug_info]}.

{deps, [
    {db, {git, "https://github.com/dong50252409/db", {branch, "master"}}},
    jsx
]}.

{relx, [{release, {db_tools_test, "0.1.0"},
    [db_tools_test, sasl, db, jsx]},
    {mode, dev},
    {sys_config, "./config/sys.config"},
    {vm_args, "./config/vm.args"}
]}.
