[
    {db_tools_test, []},

    {db, [
        {mysql_pool, [
            {test_db, {[
                {size, 10},               % 这部分是poolboy的参数
                {max_overflow, 20}
            ], [
                {user, "test"},           % 这部分是mysql-otp的参数
                {password, "root"},
                {host, "root"},
                {database, "test_db"},
                {port, 3306}
            ]}}
        ]}
    ]}
].
